<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathenggame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".equations"></activity>
        <activity android:name=".verbs" />
        <activity android:name=".cube" />
        <activity android:name=".trapeze" />
        <activity android:name=".triangle" />
        <activity android:name=".rectangle" />
        <activity android:name=".futurecontinues" />
        <activity android:name=".pastcontinues" />
        <activity android:name=".futuresimple" />
        <activity android:name=".presentperfect" />
        <activity android:name=".pastsimple" />
        <activity android:name=".presentcontinues" />
        <activity android:name=".square" />
        <activity android:name=".presentSimple" />
        <activity android:name=".Teach_g" />
        <activity android:name=".Teach_game" />
        <activity android:name=".Best_resoult" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Multi_game" />
        <activity android:name=".Game_Time" />
        <activity android:name=".Nauka" />
        <activity android:name=".Start" />
        <activity android:name=".Opcje" />
        <activity
            android:name=".load_activity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>